{% extends 'base.html.twig' %}

{% block title %}| Price{% endblock %}

{% block body %}

<div class="container">
    <h1>Pricing</h1>
    <p class="lead">Our Free Plan is Free Forever. Check out our packages below</p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Free for 0$</th>
                <th>Pro for 15$</th>
                <th>Enterprise for 29$</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Countries</td>
                <td><button class="btn btn-success">Yes</button></td>
                <td><button class="btn btn-success">Yes</button></td>
                <td><button class="btn btn-success">Yes</button></td>
            </tr>
            <tr>
                <td>Seasons</td>
                <td><button class="btn btn-success">Yes</button></td>
                <td><button class="btn btn-success">Yes</button></td>
                <td><button class="btn btn-success">Yes</button></td>
            </tr>
            <tr>
                <td>Leagues</td>
                <td><button class="btn btn-success">Yes</button></td>
                <td><button class="btn btn-success">Yes</button></td>
                <td><button class="btn btn-success">Yes</button></td>
            </tr>
            <tr>
                <td>Standings</td>
                <td><button class="btn btn-success">Yes</button></td>
                <td><button class="btn btn-success">Yes</button></td>
                <td><button class="btn btn-success">Yes</button></td>
            </tr>
            <tr>
                <td>Teams</td>
                <td><button class="btn btn-success">Yes</button></td>
                <td><button class="btn btn-success">Yes</button></td>
                <td><button class="btn btn-success">Yes</button></td>
            </tr>
            <tr>
                <td>Livescore</td>
                <td><button class="btn btn-success">Yes</button></td>
                <td><button class="btn btn-success">Yes</button></td>
                <td><button class="btn btn-success">Yes</button></td>
            </tr>
            <tr>
                <td>#</td>
                <td><button class="btn btn-info">Subscribe</button></td>
                <td><a href="{{ path('payment') }}" class="btn btn-primary">Subscribe</a></td>
                <td><a href="{{ path('payment') }}" class="btn btn-primary">Subscribe</a></td>
            </tr>

        </tbody>
    </table>

</div>
{% endblock %}
