{% extends 'base.html.twig' %}

{% block title %}| Mon compte{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ app.user.username }}</h1>
        <div class="list-group">
        <h3>Liste des rôles : </h3>
        {% for role in app.user.roles %}
            <button type="button" class="list-group-item list-group-item-action">{{ role }}</button>
        {% endfor %}
        </div>
    </div>

{% endblock %}