{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main role="main" class="container">
        <h1 class="mt-5">Sporty Api</h1>
        <p class="lead">Bienvenue sur l'API de Sporty, vous devez obligatoirement vous créér un compte pour utiliser l'API</p>
        <p>Back to <a href="https://github.com/LMDWEB/Sporty-api" target="_blank">Sporty-api Github</a></p>
    </main>
{% endblock %}
