{% extends 'base.html.twig' %}

{% block title %}| Home{% endblock %}

{% block body %}


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Pricing</h1>
    <p class="lead">Bienvenue sur l'API de Sporty, vous devez obligatoirement vous créér un compte pour utiliser l'API</p>
    <p>Back to <a href="https://github.com/LMDWEB/Sporty-api" target="_blank">Sporty-api Github</a></p>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Free</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ month</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li> <strong>100 requetes</strong></li>
                    <li>Countries</li>
                    <li>Seasons</li>
                    <li>Leagues</li>
                    <li>Standings</li>
                    <li>Teams</li>
                    <li>Livescore</li>

                </ul>
                <a href="{{ path('price') }}" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Pro</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ month</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li> <strong>1000 requetes</strong></li>
                    <li>Countries</li>
                    <li>Seasons</li>
                    <li>Leagues</li>
                    <li>Standings</li>
                    <li>Teams</li>
                    <li>Livescore</li>
                </ul>
                <a href="{{ path('price') }}" class="btn btn-lg btn-block btn-primary">Subscribe</a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Enterprise</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ month</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li> <strong>10000 requetes</strong></li>
                    <li>Countries</li>
                    <li>Seasons</li>
                    <li>Leagues</li>
                    <li>Standings</li>
                    <li>Teams</li>
                    <li>Livescore</li>
                </ul>
                <a href="{{ path('price') }}" class="btn btn-lg btn-block btn-primary">Subscribe</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}