
###> symfony/framework-bundle ###
/.env
/.idea
.DS_Store
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/
###< lexik/jwt-authentication-bundle ###
