{% extends 'base.html.twig' %}

{% block title %}| Token{% endblock %}

{% block body %}

    {% block header %}
        {{ include('header.html.twig')}}
    {% endblock %}

    <div class="container">
        <h1>Get your JWT TOKEN</h1>
        <input type="text" id="url" style="display: none;" value="{{ url }}">
        <p>When you have your token, you can explore the API Documentation <a href="{{ path('swagger_ui') }}">here</a></p>
        <form id="myForm">
            <label for="">Username: </label><input type="text" id="username" class="form-control" name="username"/><br>
            <label for="">Password: </label><input type="password" id="password" class="form-control" name="password" /><br>
        </form>
        <button id="valider" class="btn btn-primary">Valider</button>
        <br><br>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-primary">
                    <textarea id="result" class="form-control" style="width: 100%" rows="10"></textarea>
                </div>
            </div>
        </div>
    </div>

    {% block footer %}
        {{ include('footer.html.twig')}}
    {% endblock %}

{% endblock %}

{% block javascripts %}
    <script>
        var url = $('#url').val();
        $('#valider').click(function(){
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": url+"/login_check",
                "method": "POST",
                "headers": {
                    "content-type": "application/json"
                },
                "processData": false,
                "data": '{"username":"'+$("#username").val()+'","password":"'+$("#password").val()+'"}'
            }

            $.ajax(settings).done(function (response) {
                console.log(response);
                $('#result').html(response.token)
            }).fail(function (response) {
                console.log(response.responseJSON)
                $('#result').html(response.responseJSON.message)
            })
            ;
        })



    </script>
{% endblock %}