{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <a class="nav-link" target="_blank" href="{{ path('price') }}#offres">{% trans into locale %}Offres{% endtrans %}</a>

{% endblock %}
