<div class="footer container-fluid">
    <a class="btn-go-top" href="#"><i class="hstb hstb-down-arrow"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-2 col-md-3 col-lg-3">
                <div class="footer-menu">
                    <h4>Features</h4>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="{{ path('token') }}">Cool stuff</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-3 col-lg-3">
                <div class="footer-menu">
                    <h4>Ressources</h4>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="{{ path('swagger_ui') }}">API Documentation</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-2 col-md-3 col-lg-3">
                <div class="footer-menu">
                    <h4>About</h4>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="https://github.com/LMDWEB/Sporty-api">Team <i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="footer-menu custom-footer-menu">
                    <h4>Contact us</h4>
                    <ul class="social">
                        <li><a href="https://twitter.com/lmdpsg"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="row">
                <div class="col-md-6">
                    <div class="sub-footer-menu">
                        <ul>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Terms of Service</a></li>
                            <li><a href="privacy.html">Privacy Policy</a></li>
                        </ul>        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="copyright">© Copyright 2019 Sporty, All Rights Reserved</div>
                </div>
            </div>
        </div>
    </div>
</div>